body {
    font-family: "Pixelify Sans", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    overflow: hidden;
    position: relative;
}
.background-gallery {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    opacity: 0.8;
    z-index: 1;
}
.background-gallery img {
    width: 99%;
    height: 99%;
    object-fit: cover;
}
.sign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 2;
}
.sign {
    font-size: 5rem;
    color: white;
    background: #046000;
    padding: 20px 40px;
    border-radius: 10px;
    border: 5px solid white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}


#back-button {
    font-family: "Pixelify Sans", sans-serif;

    position: fixed; 
    bottom: 100px;
    left: 100px;
    padding: 20px 24px;
    background: red;
    color: white;
    font-size: 38px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}